@use 'mytril/base';
@use 'mytril/components';
@use 'mytril/utilities';

// fonts
@use './lato.scss';

// app
// body {
// 	background-image: url(images/stroke-bg-1.svg), url(images/stroke-bg-2.svg);
// 	background-position:
// 		top left,
// 		bottom right;
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

@media screen and (min-width: 840px) {
	.responsive-bar {
		max-width: 1800px;
		padding: 0 32px;
		margin: 0 auto;
	}
}
