@use 'mytril/base';
@use 'mytril/components';
@use 'mytril/utilities';

// fonts
@use './lato.scss';

// background

body {
	background-color: var(--myt-color-background);

	opacity: 1;
	background-image: radial-gradient(#444cf7 1.6500000000000001px, #e5e5f7 1.6500000000000001px);

	background-size: 33px 33px;
}

#secondary-navigation {
	--secondary-navigation--width: 542px;

	bottom: 30px;
	max-width: var(--secondary-navigation--width);
	margin-left: calc((100% / 2) - (var(--secondary-navigation--width) / 2));
	background: color-mix(in oklab, var(--myt-color-on-background), transparent 20%);

	.myt-toolbar--content {
		width: calc(100% - 1.1rem);
	}
}

#close-bottom-view-modal {
	z-index: 10000;
	bottom: 34px;
	right: 34px;
}

#view-on-modal {
	min-height: 70vh;
	max-height: 70vh;
	overflow: auto;
}
