name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Create .env file
        run: |
          echo "PUBLIC_MODE_PROD=false" >> .env
          echo "VITE_GITHUB_TOKEN=key" >> .env
          echo "PUBLIC_ANALYTICS_ACTIVATE=false" >> .env
          echo "PUBLIC_GTM_ACTIVATE=false" >> .env
          echo "PUBLIC_ANALYTICS_KEY=key" >> .env
          echo "PUBLIC_GTM_KEY=key" >> .env

      - name: Build Svelte project
        run: npm run build

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          port: 55555
          script: |
            cd apps/portfolio-lgi/current
            git pull origin main
            npm install
            docker compose build
            docker compose up -d
